:root {
  --primary: #0c075e;
  --secondary: #a80008;
  --bg: #eaeaea;
  --text-color: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--text-color);
  overflow-x: hidden;
}
/* btn floating */
.btn-floating {
  display: flex;
  justify-content: center;
  align-items: center;
    position: fixed;
    background-color:#0e7400 ;
    right: 25px;
    bottom: 25px;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 0;
    z-index: 9999;
    color: white;
    transition: .2s;
}
.btn-floating img {
  width: 45px;
  margin-top: 4px;
  margin-left: 2px;
  margin-bottom: 6px;
}
.btn-floating:hover {
    width: auto;
    padding-right: 20px;
    padding-left: 10px;
    cursor: pointer;
}
.btn-floating span {
    font-size: 16px;
    margin-left: 5px;
    transition: .2s;
    line-height: 0px;
    display: none;
}
.btn-floating:hover span {
    display: inline-block;
}
.btn-floating:hover img {
    margin-bottom: 5px;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 7%;
  background-color: var(--secondary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

.navbar img {
  width: 2.5rem;
  margin-left: 4rem;
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--bg);
  letter-spacing: 2px;
  margin-left: 1rem;
  margin-right: auto;
}

.navbar .navbar-nav a {
  color: var(--bg);
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0 1.5rem;
  transition: all 0.3s ease-in-out;
}
.navbar .navbar-nav a:hover {
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}


.navbar .navbar-extra a {
  color: var(--bg);
}
#hamburger-menu {
  display: none;
}

/* hero section */
.hero {
  width: 100%;
  position: relative;
}
.hero a.cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(1, 1, 1, 0.8);
  color: var(--bg);
  padding: 1.5rem 3rem;
  border-radius:8px;
  font-size: 1.5rem;
  margin-left: 3rem;
  transition: .3s all ease-in;
}
.hero a.cta:hover {
  background-color: var(--bg);
  color: var(--text-color);
  transition: .3s all ease-in;
  
}

/* about section */
.about,
.produk,
.kontak,
.testimoni {
  padding: 5rem 7% 1rem;
}
.about h2,
.produk h2,
.kontak h2,
.testimoni h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 5rem;
  letter-spacing: 3px;
}
.about h2 span,
.produk h2 span,
.kontak h2 span,
.testimoni h2 span {
  color: var(--secondary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 70rem;
  padding: 0 2rem;
}

.about .row .content h5 {
  font-size: 1.7rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.about .row a.cta {
  background-color: var(--secondary);
  color: var(--bg);
  padding: 1rem 2rem;
  border-radius: 5px;
}

.about .row .content p {
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 1px;
}

.about .row .content a {
  margin-top: 2rem;
  margin-left: 17rem;
  gap: 1.5rem;
  margin-top: 4rem;
}

/* type car */
.produk .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.produk .produk-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.produk h4 {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.6rem;
  font-weight: 500;
  color: var(--secondary);
}

.produk .produk-card {
  text-align: center;
  padding: 2rem;
  transition: 0.3s all ease-in;
}

.produk .produk-card:hover {
  background-color: #d2d2d2;
  transition: 0.4s all ease-in;
}

.produk .produk-detail {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.produk .produk-detail a {
  width: 10rem;
  color: var(--secondary);
  border: 2px solid var(--secondary);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all ease-in-out;
  padding: 0.5rem 0;
}

.produk .produk-detail a:hover {
  background-color: var(--secondary);
  color: var(--bg);
  transition: 0.5s all ease-in-out;
}

.produk .produk-image {
  padding: 1rem 0;
}

.produk .produk-image img {
  height: 10rem;
}

.produk .produk-desc {
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: 300;
}

.produk .produk-price {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

/* testimoni */
.slider {
  width: 100%;
  overflow: hidden;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.slide img {
  width: 100%;
  height: auto;
  margin: 1rem 1rem;
}

/* kontak section */

.kontak .row {
  display: flex;
  margin-top: 2rem;
  background-color: #c9c9c9;
  border-radius: 5px;
  margin-bottom: 5rem;
}

.kontak .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.kontak .row form {
  flex: 1 1 45rem;
  padding: 3rem 2rem;
  text-align: center;
}

.kontak .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  border: 1px solid var(--text-color);
  padding-left: 2rem;
  border-radius: 5px;
}

.kontak .row form .input-group input {
  width: 100%;
  padding: 1rem;
  font-size: 1.3rem;
  background: none;
  color: var(--text-color);
}
.kontak .row form .input-group textarea {
  background: none;
  width: 100% ;
}

.kontak .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  width: 100%;
  background-color: var(--secondary);
  color: var(--bg);
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s all ease-in;
}

.kontak .row form .btn:hover {
  background-color: #980005;
  transition: .3s all ease-in;
}


/* footer */
footer {
  background-color: var(--text-color);
  padding: 1.5rem;
  text-align: center;
  margin-top: 3rem;
}

footer a {
  color: var(--secondary);
  font-weight: 700;
}
footer .footer-info a {
  color: var(--bg);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.footer-info {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--bg);
}

.footer-nav {
  flex-basis: 100%;
  margin-bottom: 2rem;
}

.footer-nav a {
  margin: 1.5rem;
  font-weight: 500;
  color: var(--bg);
}

.footer-social {
  margin-bottom: 2rem;
}

.footer-social a {
  margin-right: 2rem;
  color: var(--bg);
}

.footer-copyright {
  flex-basis: 100%;
  color: var(--bg);
}

/* media query */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 70%;
  }
}
/* tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
    margin-top: 4px;
  }

  .btn-floating {
    right: 15px;
  }

  .navbar {
    padding: 1rem 4%;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--secondary);
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 4rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .hero img {
    width: 100%;
    height: auto;
    margin-top: 4rem;
  }
  .hero a.cta {
    margin-left: 0;
    padding: 1rem 2rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }
  .about .row .content h5 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.5rem;
  }

  .about .row .content a.cta {
    margin-top: 2rem;
    font-size: 1.5rem;
    margin-left: 10rem;
  }

  .produk .produk-detail a {
    padding: 1rem;
    width: 12rem;
  }

  .kontak .row {
    flex-wrap: wrap;
  }

  .kontak .row .map {
    width: 100%;
    /* height: 30rem; */
  }

  .kontak .row form {
    padding-top: 1rem;
  }

  .testimoni .slide {
    flex-wrap: wrap;
  }
}

/* mobile */
@media (max-width: 500px) {
  html {
    font-size: 62%;
  }
}
